<div id="entete">
	ENTETE
	T <br>
	E <br>
	S <br>
	T <br>
	T <br>
	E <br>
	S <br>
	T <br>
	T <br>
	E <br>
	S <br>
	T <br>
	T <br>
	E <br>
	S <br>
	T <br>
	T <br>
	E <br>
	S <br>
	T <br>
	T <br>
	E <br>
	S <br>
	T <br>
	T <br>
	E <br>
	S <br>
	T <br>
	T <br>
	E <br>
	S <br>
	T <br>
	T <br>
	E <br>
	S <br>
	T <br>
	T <br>
	E <br>
	S <br>
	T <br>
	T <br>
	E <br>
	S <br>
	T <br>
	T <br>
	E <br>
	S <br>
	T <br>
	T <br>
	E <br>
	S <br>
	T <br>
	T <br>
	E <br>
	S <br>
	T <br>
	T <br>
	E <br>
	S <br>
	T <br>
	T <br>
	E <br>
	S <br>
	T <br>
	T <br>
	E <br>
	S <br>
	T <br>
	
</div>
