<!-- ******HEADER****** -->
<header id="header" class="header">
    <div class="container">
        <h1 class="pull-left title-event">{{ site.title }}</h1><!--//logo-->
        <ul class="nav nav-pills navbar-right">
            <li role="presentation" class="active"><a href="#" class="a-active">Evénement</a></li>
            <li role="presentation"><a href="#">Participants</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
        </ul>
    </div>
</header><!--//header-->
