<footer>
 	<div>
	  	<ul>
			<li>
				<a target="_blank" href="http://twitter.com/gbiffrance" title="Rejoignez sous sur Twitter !">
					<img width="16" height="16" src="/img/social/twitter.png" alt="twitter logo">
				</a>
			</li>
			<li>
				<a target="_blank" href="/news.xml" title="Suivez notre actualité (Flux RSS)">
					<img width="16" height="16" src="/img/social/rss.png" alt="RSS logo">
				</a>
			</li>
			<li>
				<a target="_blank" title="Page Facebook du GBIF" href="https://www.facebook.com/gbifnews">
					<img width="16" height="16" src="/img/social/facebook.png" alt="Facebook logo">
				</a> 
			</li>
		</ul>
	</div> 
	<div >
	  	<ul id="footer-link">
	  		<li ><a  target="_blank" title="" href="http://www.gbif.fr">GBIF France</a></li>
			<li ><a target="_blank" title="" href="http://www.gbif.fr/contact">Contact</a></li>
			<li ><a title="" href="/home">Mention légale</a></li>
		    <li ><a  target="_blank" title="" href="http://www.gbif.fr/page/partenaires">Partenaire du GBIF France</a></li>
		</ul>
	</div> 
	<address > 
  		<p>GBIF FRANCE ● MNHN Géologie&nbsp;●&nbsp;43 rue Buffon CP 48 &ndash;&nbsp;75005 Paris&nbsp;&nbsp;&ndash; &nbsp;France <span style="line-height:1.6">&nbsp;</span>&ndash;&nbsp;<span style="line-height:1.6">Phone : +33 (0)1 40 79 80 65</span></p>
	</div> 

 </footer> 