<div id="header">
	<a href="/"><img alt="GBIF FRANCE" src="{{site.header}}"></a>
</div>

<div class="navbar-header format">	
	<div class="contenu_page">
		<div class="row">
			<div class="menu_navigation col-xs-12 col-sm-8">
				<ul class="menu nav">
					<li> <a href=/>Home</a></li>
					<li> <a href=/participants>Participants</a></li>
					<li> <a href=/agenda>Programme</a></li>
					<li> <a href=/information>Information</a></li>
					<li> <a target="_blank" href=http://www.gbif.fr>GBIF France</a></li>	
				</ul>
			</div>
		</div>
	</div>
</div>


