<a href="/">
	<img alt="GBIF FRANCE" src="{{site.header}}" id="entete-img">
</a>
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li class="menu"> <a href=/>Home</a></li>
				<li class="menu"> <a href=/participants>Participants</a></li>
				<li class="menu"> <a href=/agenda>Programme</a></li>
				<li class="menu"> <a href=/information>Information</a></li>
				<li class="menu"> <a target="_blank" href=http://www.gbif.fr>GBIF France</a></li>	
			</ul>
		</div>
	</div>
</div>
