// Global

body{
	padding-top: 20px;
    padding-bottom: 60px;
    font-family: $fontFamilyPrimary;
    font-size: $base-font-size;
    line-height: $base-line-height;
    background-color: $background-color;
}