---
layout: page
title: Information
permalink: information
---

<div id="agenda">
    <h3>Sommaire</h3>
	<div class="items">
		<div>
    		<ul class="unstyled navigation">
 				<li><a href= "#address">Lieux de la conf&eacute;rence "Les 10 ans du GBIF"</a></li>
				<ul class="unstyled lower">
                    {% for lieu in site.data.lieux %}
		    		    <li><a href= "#{{ lieu.idLink}}">{{lieu.name}}</a></li>
		    		{% endfor %}
	            	<li><a href= "#to-museum">Se rendre au Muséum (transport)</a></li>
				</ul>
	        	<li><a href= "#hotel">Hôtel</a></li>
	        	<li><a href= "#transport">Transport</a></li>
	        	<ul class="unstyled lower">
	            	<li><a href= "#metro-map">Carte du métro de Paris</a></li>
	            	<li><a href= "#roissy">Transport depuis l'aéroport de Roissy Charles de Gaulles vers le centre de Paris</a></li>
	            	<li><a href= "#orly">Transport depuis l'aéroport de Orly vers le centre de Paris</a></li>
	            	<li><a href= "#toairport">Transport public vers les aéroports </a></li>
	        	</ul>
    		</ul>
		</div>
	</div>
 	<h3 id="address">Lieux de la conf&eacute;rence "Les 10 ans du GBIF"</h3>

    {% for lieu in site.data.lieux %}
        <h5 id="{{lieu.idLink}}">{{ lieu.name}} </h5>
        <div class="items">
            <div>
                <address>
                    <strong>{{ lieu.place}}</strong><br>
                    {{lieu.room}}<br>
                    {{lieu.address}}<br>
                    {{lieu.postcode}} {{lieu.city}}<br>
                    <abbr title="Téléphone">Téléphone :</abbr>{{ lieu.phone }}<br>             
                </address>
            </div>
            <br />
            {{lieu.iframe}}
        </div>
    {% endfor %}

<h5 id="to-museum"> Se rendre au Muséum</h5>
        <strong>Par métro</strong> :
        <ul class="unstyled">
            <li><strong>Ligne 10 et 5 </strong> - station: "Austerlitz", sortie « Jardin des Plantes » puis traverser le boulevard  l'H&ocirc;pital afin de rentrer dans le Jardin des Plantes </li>
            <li><strong>Ligne 7 </strong> - station: "Jussieu" puis rentrer dans le Jardin des Plantes</li>
        </ul>
        <strong>Par bus</strong> :
         <ul class="unstyled">
            <li><strong>Bus 24, 57, 61, 63, 89, 91</strong> - arrêt: <strong>Gare d'Austerlitz</strong> puis traverser le boulevard de l'H&ocirc;pital afin de rentrer dans le Jardin des Plantes</li>
        </ul>
        <strong>Par RER</strong> :
         <ul class="unstyled">
            <li><strong>RER C</strong> - station: "Austerlitz" puis traverser le boulevard de l'H&ocirc;pital afin de rentrer dans le Jardin des Plantes </li>
        </ul>

        <h3 id="hotel">Hotel</h3>

        <div class="items">
            <div>
                <strong> Citadines Austerlitz Paris </strong><br>
                <address>
                    27, rue Esquirol<br>
                    75013 Paris <br>
                    Téléphone : +33 (0) 1 56 61 54 00<br>
                    Fax : +33 (0) 1 45 86 59 76<br>
                    Email : <span>enquir</span>y.eur<span>ope@</span>citadi<span>nes.</span>com
                </address> 
                <em>                   
                    Studio classic (2 pers.): 94 euros <br>
                    Studio club (2 pers.): 137 euros <br>
                    Studio classic (4 pers.): 183 euros <br>
                    Petit-déjeuner : 13,50 euros <br>
                    TVA incluse
                </em>
            </div>
            <div>
                <strong> Citadines Place d'Italie Paris </strong><br>
                <address>
                    18, place d'Italie<br>
                    75013 Paris <br>
                    Téléphone : +33 (0) 1 43 13 85 00<br>
                    Fax : +33 (0) 1 43 13 86 99<br>
                    Email : <span>enquir</span>y.eur<span>ope@</span>citadi<span>nes.</span>com
                </address>  
                <em>                   
                    Studio classic (2 pers.): 94 euros <br>
                    Studio club (2 pers.): 137 euros <br>
                    Studio classic (4 pers.): 183 euros <br>
                    Petit-déjeuner : 13,50 euros <br>
                    TVA incluse
                </em> 
            </div>
            <div>
                <strong> Timhotel Jardin des Plantes </strong><br>
                <address>
                    5, rue Linné<br> 
                    75005 PARIS<br>
                    Téléphone : +33 (0) 1 47 07 06 20<br>
                    Fax : +33 (0) 1 47 07 62 74<br>
                    <a href="http://www.timhotel.com/en/our-hotels-details/10-timhotel-jardin-des-plantes-3.htm#tab-presentation"> Website Timhotel Jardin des Plantes </a>
                </address>    
                <em>                 
                    Double/twin room : 129euros <br>
                    Petit-déjeuner : 13,50 euros <br>
                    Taxe touristique: inclue
                </em> 
            </div>
            <div>
                <strong> Hotel des Arènes </strong><br>
                <address>     
                    51, rue Monge <br>
                    75005 PARIS<br>
                    Téléphone : +33 (0) 1 43 25 09 26<br>
                    Fax : +33 (0) 1 43 25 79 56<br>
                </address>
                <em> 
                    Single room : 155 euros <br> 
                    Double/twin room : 160,00 euros <br>
                    Petit-déjeuner : 12,50 euros <br>
                    Taxe touristique: inclue
                </em> 
            </div>
            <div>
                <strong>Hôtel de Suez **</strong>
                <address>
                    31, Bd St Michel <br>
                    75005 Paris <br>
                    Téléphone : +33 (0) 1 53 10 34 00 <br>
                    Fax : +33 (0) 1 40 51 79 44 <br>
                    http://www.hoteldesuez.fr
                </address>
                <em> 
                    Single room : 89,00 to 100,00 euros <br>
                    Double room : 120.00 à 190,00 euros <br>
                    Petit-déjeuner : 6,95 euros <br>
                    Taxe touristique : inclue
                </em> 
            </div>
            <div>
                <strong>Hôtel Cluny Sorbonne **</strong>
                <address>
                    8, rue Victor Cousin <br>
                    75005 Paris <br>
                    Téléphone : +33 (0) 1 43 54 66 66 <br>
                    Fax : +33 (0) 1 43 29 68 07 <br>
                    http://www.hotel-cluny.fr
                </address>
                <em> 
                    Twin : 65,00 to 109,00 euros<br>
                    Double : 69,00 à 109,00 euros<br>
                    Tourist tax : included
                </em> 
            </div>
            <div>
                <strong>Familia Hôtel </strong>
                <address>
                    11, rue des Ecoles <br>
                    75005 Paris<br>
                    Téléphone : +33 (0) 1 43 54 55 27<br>
                    Fax : +33 (0) 1 43 29 61 77<br>
                    http://www.familiahotel.com
                </address>
                <em> 
                    Single room: 105,00 euros<br>
                    Double room: 132,00 euros<br>
                    Petit-déjeuner: 7,00 euros<br>
                    Taxe touristique: inclue
                </em> 
            </div>
            <div>
                <strong>Hôtel Henriette </strong>
                <address>
                    9, rue Gobelins<br>
                    75013 Paris<br>
                    Téléphone : +33 (0) 1 47 07 26 90<br>
                    Fax : +33 (0) 1 43 31 44 05<br>
                    http://hotelhenriette.com
                </address>
                <em> 
                    Single room: 89,00 euros<br>
                    Double room : 119,00 to 129,00 euros<br>
                    Twin room: 129,00 to 139,00 euros<br>
                    Petit-déjeuner : 10,00 euros<br>
                    Taxe touristique: inclue
                </em> 
            </div> 
            <div>
                <strong>Hôtel Garance</strong>
                <address>
                    18 avenue des Gobelins <br> 
                    75005 PARIS<br>
                    Téléphone : +33 (0) 1 42 17 47 47<br>
                    Fax : +33 (0) 1 42 17 47 30<br>
                    http://www.hotelgarance.com/fr/
                </address>
                <em> 
                    Single room : from 166,00 euros<br>
                    Double room : 225,00<br>
                    Petit-déjeuner : 10,00 euros<br>
                    Taxe touristique: inclue
                </em> 
            </div>
        </div>


        <h3 id="transport">Transport </h3>
        <p><strong>Vous trouverez plus d'information <a target="_blank" href="/formation_septembre2015/img/map/transport-mnhn.pdf">ici</a> (anglais).
        </strong></p>

        <h5 id="metro-map"> Carte du métro de Paris </h5>
        <img src="/eu_node_meeting_2015/img/map/metro.png">
        
        
        <h5 id="roissy"> De l'aéroport de Roissy Charles de Gaulles au centre de Paris </h5>
        <strong>Par RER & métro</strong> :
        <p>
            <em>
                Coût : approx. 10 euros <br>
                Temps de transport : approx. 1 hour 
            </em>
        </p>
         <ul class="unstyled">
            <li><strong>RER B </strong> vers Paris, station : </li>
                <ul class="unstyled lower">
                    <li><strong>Gare du Nord</strong> puis  ligne 5 vers Place d'Italie (Gare d'Austerlitz, Saint-Michel ou Place d'Italie). </li>
                    <li><strong>Denfert-Rochereau</strong> puis ligne 6 vers Nation avec un changement à Place d'Italie pour la ligne 5 (Gare d'Austerlitz ou Saint-Michel) ou ligne 7 (Censier Daubenton ou Place Monge) . </li>
                    <li><strong>Saint Michel Notre-Dame</strong> puis ligne 10 vers Gare d'Austerlitz ou RER C (Gare d'Austerlitz).</li>
                </ul>
        </ul>
        <strong>Par bus</strong> :
        <p>
            <em>
                Coût : 11 euros <br>
                Temps de transport : 45 minutes jusqu'à 1 heure
            </em>
        </p>
         <ul class="unstyled">
            <li><strong>Roissy Bus</strong> jusqu'à l'arrêt Opéra puis ligne 7 (Censier Daubenton, Jussieu ou Place Monge) avec un changement à Jussieu pour la ligne 10 (Gare d'Austerlitz).</li>
        </ul>

        <strong>Par taxi</strong> :
        <p>
            <em>
                Coût : entre 50 euros et 70 euros            
            </em>
        </p>



        <h5 id="orly"> Depuis l'aéroport d'Orly vers le centre de Paris </h5>
        <strong>Par train (RER) & métro </strong> :
        <p>
            <em>
                Coût : approx. 11 euros <br>
                Temps de transport : approx. 1 hour 
            </em>
        </p>
         <ul class="unstyled">
            <li><strong>Orlyval</strong> vers Anthony puis <strong>RER B </strong> vers Paris, arrêt : </li>
                <ul class="unstyled lower">
                    <li><strong>Denfert-Rochereau</strong> puis ligne 6 vers Nation avec un changement à Place d'Italie pour la ligne 5 (Gare d'Austerlitz ou Saint-Michel) ou ligne 7 (Censier Daubenton ou Place Monge) . </li>
                    <li><strong>Saint Michel Notre-Dame</strong> puis ligne 10 vers Gare d'Austerlitz ou RER C (Gare d'Austerlitz).</li>
                </ul>
        </ul>
        <strong>Par tram & métro</strong> :
        <p>
            <em>
                Coût : approx. 11 euros <br>
                Temps de transport : approx. 50 minutes
            </em>
        </p>
         <ul class="unstyled">
            <li><strong>Ligne 7</strong> vers Villejuif - Louis Aragon puis <strong>ligne 7 (métro)</strong>. </li>
        </ul>
        <strong>Par bus</strong> :
        <p>
            <em>
                Coût : approx. 9 euros <br>
                Temps de transport : approx. 50 minutes
            </em>
        </p>
         <ul class="unstyled">
            <li><strong>Orly Bus</strong> vers Paris - Denfert-Rochereau RER.</li>
        </ul>
        <strong>Par taxi</strong> :
        <p>
            <em>
                Coût : entre 40 euros et 55 euros<br>
            </em>
        </p>
        <h5 id="toairport"> Transport public vers les aéroports </h5>
        <img src="/formation_septembre2015/img/map/paristoairport.png">
        
       
              
</div>

            </div>
        </section>


